@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Footer */
  --app-primary: rgba(12, 104, 244, 1);
  --app-secondary: rgba(244, 94, 12, 1);
  --black: rgba(12, 12, 12, 1);
  --logo-slog-font-family: "Inter", Helvetica;
  --logo-slog-font-size: 48px;
  --logo-slog-font-style: normal;
  --logo-slog-font-weight: 400;
  --logo-slog-letter-spacing: 0px;
  --logo-slog-line-height: normal;
  --logo-title-font-family: "Inter", Helvetica;
  --logo-title-font-size: 150px;
  --logo-title-font-style: normal;
  --logo-title-font-weight: 400;
  --logo-title-letter-spacing: 0px;
  --logo-title-line-height: normal;
  --mobile-body-lg-font-family: "Inter", Helvetica;
  --mobile-body-lg-font-size: 16px;
  --mobile-body-lg-font-style: normal;
  --mobile-body-lg-font-weight: 300;
  --mobile-body-lg-letter-spacing: 0px;
  --mobile-body-lg-line-height: 22px;
  --mobile-body-md-font-family: "Inter", Helvetica;
  --mobile-body-md-font-size: 14px;
  --mobile-body-md-font-style: normal;
  --mobile-body-md-font-weight: 300;
  --mobile-body-md-letter-spacing: 0px;
  --mobile-body-md-line-height: normal;
  --mobile-body-sm-font-family: "Inter", Helvetica;
  --mobile-body-sm-font-size: 12px;
  --mobile-body-sm-font-style: normal;
  --mobile-body-sm-font-weight: 300;
  --mobile-body-sm-letter-spacing: 0px;
  --mobile-body-sm-line-height: normal;
  --mobile-button-lg-font-family: "Inter", Helvetica;
  --mobile-button-lg-font-size: 14px;
  --mobile-button-lg-font-style: normal;
  --mobile-button-lg-font-weight: 400;
  --mobile-button-lg-letter-spacing: 0px;
  --mobile-button-lg-line-height: normal;
  --mobile-button-sm-font-family: "Inter", Helvetica;
  --mobile-button-sm-font-size: 12px;
  --mobile-button-sm-font-style: normal;
  --mobile-button-sm-font-weight: 400;
  --mobile-button-sm-letter-spacing: 0px;
  --mobile-button-sm-line-height: normal;
  --mobile-caption-font-family: "Inter", Helvetica;
  --mobile-caption-font-size: 12px;
  --mobile-caption-font-style: normal;
  --mobile-caption-font-weight: 500;
  --mobile-caption-letter-spacing: 0px;
  --mobile-caption-line-height: normal;
  --mobile-h1-font-family: "Inter", Helvetica;
  --mobile-h1-font-size: 24px;
  --mobile-h1-font-style: normal;
  --mobile-h1-font-weight: 500;
  --mobile-h1-letter-spacing: 0px;
  --mobile-h1-line-height: normal;
  --mobile-h2-font-family: "Inter", Helvetica;
  --mobile-h2-font-size: 20px;
  --mobile-h2-font-style: normal;
  --mobile-h2-font-weight: 500;
  --mobile-h2-letter-spacing: 0px;
  --mobile-h2-line-height: normal;
  --mobile-h3-font-family: "Inter", Helvetica;
  --mobile-h3-font-size: 16px;
  --mobile-h3-font-style: normal;
  --mobile-h3-font-weight: 500;
  --mobile-h3-letter-spacing: 0px;
  --mobile-h3-line-height: 24px;
  --mobile-h4-font-family: "Inter", Helvetica;
  --mobile-h4-font-size: 14px;
  --mobile-h4-font-style: normal;
  --mobile-h4-font-weight: 500;
  --mobile-h4-letter-spacing: 0px;
  --mobile-h4-line-height: normal;
  --mobile-overline-font-family: "Inter", Helvetica;
  --mobile-overline-font-size: 10px;
  --mobile-overline-font-style: normal;
  --mobile-overline-font-weight: 500;
  --mobile-overline-letter-spacing: 0px;
  --mobile-overline-line-height: normal;
  --neutralgray-2d2d2d: rgba(45, 45, 45, 1);
  --neutralgray-444444: rgba(68, 68, 68, 1);
  --neutralgray-505050: rgba(80, 80, 80, 1);
  --neutralgray-717171: rgba(113, 113, 113, 1);
  --neutralgray-9e9e9e: rgba(158, 158, 158, 1);
  --neutralgray-b4b4b4: rgba(180, 180, 180, 1);
  --neutralgray-cbcbcb: rgba(203, 203, 203, 1);
  --neutralgray-ededed: rgba(237, 237, 237, 1);
  --neutralgray-f6f6f6: rgba(246, 246, 246, 1);
  --neutralgray-f9f9f9: rgba(249, 249, 249, 1);
  --primaryprimary-100: rgba(66, 138, 246, 1);
  --primaryprimary-200: rgba(39, 121, 245, 1);
  --primaryprimary-25: rgba(228, 238, 254, 1);
  --primaryprimary-300: rgba(12, 104, 244, 1);
  --primaryprimary-400: rgba(9, 81, 190, 1);
  --primaryprimary-50: rgba(174, 205, 251, 1);
  --primaryprimary-500: rgba(6, 58, 136, 1);
  --primaryprimary-600: rgba(5, 46, 109, 1);
  --primaryprimary-700: rgba(4, 35, 82, 1);
  --primaryprimary-75: rgba(120, 171, 249, 1);
  --primaryprimary-900: rgba(2, 23, 54, 1);
  --primarysecondarysecondary-100: rgba(253, 219, 201, 1);
  --primarysecondarysecondary-200: rgba(250, 183, 147, 1);
  --primarysecondarysecondary-300: rgba(246, 130, 66, 1);
  --primarysecondarysecondary-400: rgba(244, 94, 12, 1);
  --primarysecondarysecondary-500: rgba(190, 73, 9, 1);
  --primarysecondarysecondary-600: rgba(136, 52, 6, 1);
  --shadow-1: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
  --shadow-2: -2px 2px 20px -1px rgba(113, 113, 113, 0.2);
  --shadow-3: -2px 2px 10px -1px rgba(113, 113, 113, 0.15);
  --stateerror: rgba(201, 20, 51, 1);
  --stateerror-light: rgba(250, 231, 235, 1);
  --statesuccess: rgba(20, 108, 67, 1);
  --statesuccess-light: rgba(209, 247, 229, 1);
  --web-body-lg-font-family: "Inter", Helvetica;
  --web-body-lg-font-size: 18px;
  --web-body-lg-font-style: normal;
  --web-body-lg-font-weight: 300;
  --web-body-lg-letter-spacing: 0px;
  --web-body-lg-line-height: normal;
  --web-body-md-font-family: "Inter", Helvetica;
  --web-body-md-font-size: 16px;
  --web-body-md-font-style: normal;
  --web-body-md-font-weight: 300;
  --web-body-md-letter-spacing: 0px;
  --web-body-md-line-height: 24px;
  --web-body-sm-font-family: "Inter", Helvetica;
  --web-body-sm-font-size: 14px;
  --web-body-sm-font-style: normal;
  --web-body-sm-font-weight: 300;
  --web-body-sm-letter-spacing: 0px;
  --web-body-sm-line-height: normal;
  --web-body-xl-font-family: "Inter", Helvetica;
  --web-body-xl-font-size: 20px;
  --web-body-xl-font-style: normal;
  --web-body-xl-font-weight: 300;
  --web-body-xl-letter-spacing: 0px;
  --web-body-xl-line-height: 28px;
  --web-body-xs-font-family: "Inter", Helvetica;
  --web-body-xs-font-size: 12px;
  --web-body-xs-font-style: normal;
  --web-body-xs-font-weight: 300;
  --web-body-xs-letter-spacing: 0px;
  --web-body-xs-line-height: normal;
  --web-button-lg-font-family: "Inter", Helvetica;
  --web-button-lg-font-size: 16px;
  --web-button-lg-font-style: normal;
  --web-button-lg-font-weight: 400;
  --web-button-lg-letter-spacing: 0px;
  --web-button-lg-line-height: normal;
  --web-button-sm-font-family: "Inter", Helvetica;
  --web-button-sm-font-size: 14px;
  --web-button-sm-font-style: normal;
  --web-button-sm-font-weight: 400;
  --web-button-sm-letter-spacing: 0px;
  --web-button-sm-line-height: normal;
  --web-caption-lg-font-family: "Inter", Helvetica;
  --web-caption-lg-font-size: 14px;
  --web-caption-lg-font-style: normal;
  --web-caption-lg-font-weight: 500;
  --web-caption-lg-letter-spacing: 0px;
  --web-caption-lg-line-height: normal;
  --web-caption-md-font-family: "Inter", Helvetica;
  --web-caption-md-font-size: 12px;
  --web-caption-md-font-style: normal;
  --web-caption-md-font-weight: 500;
  --web-caption-md-letter-spacing: 0px;
  --web-caption-md-line-height: normal;
  --web-caption-sm-font-family: "Inter", Helvetica;
  --web-caption-sm-font-size: 10px;
  --web-caption-sm-font-style: normal;
  --web-caption-sm-font-weight: 500;
  --web-caption-sm-letter-spacing: 0px;
  --web-caption-sm-line-height: normal;
  --web-display1-font-family: "Inter", Helvetica;
  --web-display1-font-size: 64px;
  --web-display1-font-style: normal;
  --web-display1-font-weight: 600;
  --web-display1-letter-spacing: 0px;
  --web-display1-line-height: normal;
  --web-display2-font-family: "Inter", Helvetica;
  --web-display2-font-size: 56px;
  --web-display2-font-style: normal;
  --web-display2-font-weight: 600;
  --web-display2-letter-spacing: 0px;
  --web-display2-line-height: normal;
  --web-h1-font-family: "Inter", Helvetica;
  --web-h1-font-size: 44px;
  --web-h1-font-style: normal;
  --web-h1-font-weight: 500;
  --web-h1-letter-spacing: 0px;
  --web-h1-line-height: normal;
  --web-h2-font-family: "Inter", Helvetica;
  --web-h2-font-size: 40px;
  --web-h2-font-style: normal;
  --web-h2-font-weight: 500;
  --web-h2-letter-spacing: 0px;
  --web-h2-line-height: normal;
  --web-h3-font-family: "Inter", Helvetica;
  --web-h3-font-size: 32px;
  --web-h3-font-style: normal;
  --web-h3-font-weight: 500;
  --web-h3-letter-spacing: 0px;
  --web-h3-line-height: normal;
  --web-h4-font-family: "Inter", Helvetica;
  --web-h4-font-size: 24px;
  --web-h4-font-style: normal;
  --web-h4-font-weight: 500;
  --web-h4-letter-spacing: 0px;
  --web-h4-line-height: normal;
  --web-h5-font-family: "Inter", Helvetica;
  --web-h5-font-size: 20px;
  --web-h5-font-style: normal;
  --web-h5-font-weight: 500;
  --web-h5-letter-spacing: 0px;
  --web-h5-line-height: normal;
  --web-h6-font-family: "Inter", Helvetica;
  --web-h6-font-size: 16px;
  --web-h6-font-style: normal;
  --web-h6-font-weight: 500;
  --web-h6-letter-spacing: 0px;
  --web-h6-line-height: normal;
  --web-overline-lg-font-family: "Inter", Helvetica;
  --web-overline-lg-font-size: 16px;
  --web-overline-lg-font-style: normal;
  --web-overline-lg-font-weight: 300;
  --web-overline-lg-letter-spacing: 0px;
  --web-overline-lg-line-height: normal;
  --web-overline-sm-font-family: "Inter", Helvetica;
  --web-overline-sm-font-size: 12px;
  --web-overline-sm-font-style: normal;
  --web-overline-sm-font-weight: 300;
  --web-overline-sm-letter-spacing: 0px;
  --web-overline-sm-line-height: normal;
  --web-underline-primary-font-family: "Inter", Helvetica;
  --web-underline-primary-font-size: 16px;
  --web-underline-primary-font-style: normal;
  --web-underline-primary-font-weight: 500;
  --web-underline-primary-letter-spacing: 0px;
  --web-underline-primary-line-height: 22px;
  --white: rgba(255, 255, 255, 1);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
